*{
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  user-select: none;

  font-family: sans-serif;
}

body{
    background-color: linear-gradient(90deg, #fdfaf6, #faf1e6);
  color:black;
}

.botones{
  padding-top: 10vh;
  display: block;
}

i{
    align-items: center;
    display: line;
    padding: 2vw;
    font-size: 2.5em;
    color: black;
    transition: 0.2s;

}

.fa-moon{
  font-size: 1.5em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}

.fa-sun{
  font-size: 1.5em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}

.fa-language{
  font-size: 1.5em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}

.fa-github{
  font-size: 5vw;
  padding-top: 2vh;


}
.fa-code{
  font-size: 5vw;
  padding-top: 2vh;


}


#horaUnix{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12vw;
}



.darkMode{
  background-color: black;
  color: white;
}

.hidden{
  overflow: hidden;
}
.centrado{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#git{
  display: block;
}

.dots-9 {
  width:12px;
  height:12px;
  position: relative;
  animation:d9-0 3s infinite steps(2);
}
.dots-9::before,
.dots-9::after {
  content:"";
  position: absolute;
  inset:0;
  border-radius:50%;
  background:currentColor;
}
.dots-9::before {
  box-shadow: 24px 0 currentColor;
  transform:translateX(-24px);
  animation:d9-1 2s infinite linear alternate;
}
.dots-9::after {
  transform:translateX(12px) rotate(0deg) translateX(12px);
  animation:d9-2 2s infinite linear alternate;
}
@keyframes d9-0 {
    0% ,49.9% {transform:scale(1)}
    50%,100%{transform:scale(-1)}
}
@keyframes d9-1 {
    100%{box-shadow: 48px 0 currentColor}
}
@keyframes d9-2 {
    100%{transform:translateX(12px) rotate(-180deg) translateX(12px)}
}

h2{ 
  font-size: 2.2em;
  width: 80%;
  font-family: sans-serif;
}

#footer{
  font-family: sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}


@media screen and (max-width: 800px){
  
  #horaUnix{
    padding-top: 3vh;
    padding-bottom: 7vh;
  }
  
  
  #info{
    font-size: 6vw;
  }

 


#footer{
  font-size: 1.2em;
}

.fa-github{
  font-size: 12vw;
}

.fa-code{
  font-size: 12vw;
  margin-bottom: 2vh;
}

 .fa-language{
  font-size: 1.8em;
}
.fa-moon{
  font-size: 1.8em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}

.fa-sun{
  font-size: 1.8em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}

 i{
      align-items: center;
      padding: 3vh;
      font-size: 2em;
  }




}