
  *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
}


.botones{
  height: 10vh;
  padding-top: 2vh;
  padding-bottom: 10vh;
  display: block;
}

.fa-moon{
  font-size: 2em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}

.fa-sun{
  font-size: 2em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}

.fa-language{
  font-size: 2em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}


@font-face{
    font-family:Lato;
    src:url(fonts/Lato.ttf) ;    position: absolute;

}

.dots-9 {
  width:12px;
  height:12px;
  position: relative;
  animation:d9-0 2s infinite steps(2);
}
.dots-9::before,
.dots-9::after {
  content:"";
  position: absolute;
  inset:0;
  border-radius:50%;
  background:currentColor;
}
.dots-9::before {
  box-shadow: 24px 0 currentColor;
  transform:translateX(-24px);
  animation:d9-1 1s infinite linear alternate;
}
.dots-9::after {
  transform:translateX(12px) rotate(0deg) translateX(12px);
  animation:d9-2 1s infinite linear alternate;
}
@keyframes d9-0 {
    0% ,49.9% {transform:scale(1)}
    50%,100%{transform:scale(-1)}
}
@keyframes d9-1 {
    100%{box-shadow: 48px 0 currentColor}
}
@keyframes d9-2 {
    100%{transform:translateX(12px) rotate(-180deg) translateX(12px)}
}

.fotogh{
    opacity: 0.9;
    display: block;
    margin-top: -5vh;
    margin-bottom: -15vh;
    
}

.habi{
  opacity: 0.5;
  font-size: 2em;
  display: block;
  padding-top: 12vh;
  margin-bottom: -10vh;
  transition: 3s;
}
.exp{
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: -8vh;
  display: block;
  width: 60%;
  font-size: 2em;
  padding: 3px;
  opacity: 0.6;
}

.pondeg{ 
  opacity: 1;
  display:block;
  padding: 5vh;
}

#formacion h1{
 display: block;
 margin-bottom: -2vh;
}

h6{
display: block;
padding-bottom: 3vh;
}
h4{
margin: 2px;
}
h5{ 
margin: 2px;
}
h1{

margin: 3px;
display: block;
padding-top: 1vh;
padding-bottom: 1vh;
}

h2{
display: block;
margin: 3px;
}
.centrado{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden{
  overflow: hidden;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.bt{
  display: none;
  position: fixed;

}

.roll{
  display: block;
  margin-bottom: 1vh;
  font-size: 2em;
  max-width: 70%;
}

.charles{
  margin-bottom: 1vh;
  font-size: 1.6em;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.linked{
  display: block;
  top: 1vh; 
  padding-top: 1vh;
  width: 80%;
}

body{
background: linear-gradient(90deg, #fdfaf6, #faf1e6);
    color: black;
}

.bodyLight{
    background: #3C3836;
        color: white;
}

.footerLight{
    background: linear-gradient(90deg, #272423, #3C3836);
    color: white;
}

.iLight{
  color: white;
}


header{
    position: flex;
    padding-bottom: 1.5cm;

}
footer{
  font-size: 26px;
  opacity: 85%;
  font-weight: lighter;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  background: linear-gradient(45deg, #fdfaf6, #faf1e6);;
  border-radius: 4px;
}



.sobremi{
    width: 80%;
}
.sobremi a{
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  font-size: 2em;
  opacity: 90%;
}


.sobremi h1{
  font-size: 2em;
}


br {
    display: inline;
    margin: 10px 0;
}

.fotoYo{
    margin-top: 4vh;
    max-width: 200px;
    padding-bottom: 7vh;
    border-radius: 100%;
}




fieldset{
    margin: 0 auto;
    border-radius: 9px;
    width: 90%;
    opacity: 70%;
}

legend{
    margin: 0 auto;
    text-align: center;
    padding-right: 1cm;
    padding-left: 1cm;

}

fieldset img{
    display: flex;
    padding-top: 1cm;
    padding-bottom: 1cm;
    border-radius: 100cm;

}

fieldset img:hover{
    opacity: 80%;

}



fieldset a{
    font-weight: bold;

}
#repositorios{
  margin-top: 18vh;
}


#repositorios h1{
    margin-top: 5vh;
    opacity: 90%;
}


#repositorios a{
    font-size: 24px;
    opacity: 50%;

}


#actividad img{
    display: block;
    padding-top: 1vh;
    top: 1vh;
    max-width: 60%;
    width: 50%;
    border-radius: 100%;
    margin-bottom: 1cm;
}

#actividad a{
  color: white;
}

#actividad a:hover{
  opacity: 70%;
}

#actividad img:hover{
    opacity: 70%;
    transition: 0.2s;

}

#desplegarmenu{
    display: none;
}



i{
    align-items: center;
    display: line;
    padding: 2vw;
    font-size: 2.5em;
    color: black;
    transition: 0.2s;

}
i:hover{
    opacity: 0.8;

}

#contacto{

  width: 100%;
  max-width: 100%;
  padding-bottom: 30vh;

}



#repositorios h1{
  font-size: 3em;
}

#formacion a{
  display: block;
  margin: 0 auto;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  max-width: 70%;
}

#formacion h1{
  font-size: 3em;
}

#oe{
  font-size: 3em;
}

#contacto h1{
display: block;
padding-bottom: 4vh;
}

#contacto{
height: 30vh;
}

@media screen and (max-width: 800px){
  #contacto{
    display: block;
  }

  #certificaciones h1{
    font-size: 1.2em;
  }

  i{
      align-items: center;
      padding: 3vh;
      font-size: 2em;
  }

  #formacion a{
    font-size: 1.7em;
  }

  .sobremi a{
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    font-size: 2em;
    opacity: 1;
  }
  h1
  {
 	font-size: 5em;
  }
  

  #oe{
    font-size: 2em;
  }


  .roll{
    display: block;
    margin-bottom: 1vh;
    font-size: 1.5em;
    max-width: 70%;
  }

  .charles{
    margin-bottom: 1vh;
    font-size: 1.3em;
  }

  .exp i{ 
    display: inline;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: 1em;

}
.exp{
   width: 100%;
    font-size: 2.5em;
   justify-content:center;
   text-align: center;
 }

 footer{
   font-size: 1.4em;
  }

 .fa-language{
  font-size: 1.8em;
}
.fa-moon{
  font-size: 1.8em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}

.fa-sun{
  font-size: 1.8em;
  margin-top: -5vh;
  padding-bottom: 1vh;
}


}
